/*Global*/

.qm-c-servicenav {
    height: 2.5em !important;
}

.qm-u-theme-dark {
    --canvas-grid-background-svg: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 8 8' style='enable-background:new 0 0 8 8;' xml:space='preserve' fill='%23838383' fill-opacity='0.25'%3E%3Ccircle class='st0' cx='3.5' cy='4' r='0.5'/%3E%3C/svg%3E");
    --dots-size-canvas-grid: 18px;
}

.qm-u-theme-default {
    --canvas-grid-background-svg: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 8 8' style='enable-background:new 0 0 8 8;' xml:space='preserve' fill='%23BCBCBC' fill-opacity='1'%3E%3Ccircle class='st0' cx='3.5' cy='4' r='0.5'/%3E%3C/svg%3E%0A");
    --dots-size-canvas-grid: 8px;
}

.canvas_grid {
    background-size: var(--dots-size-canvas-grid) var(--dots-size-canvas-grid) !important;
    background-image: var(--canvas-grid-background-svg) !important;
}

/*process reporting specifc*/

.reporting-type-menu {
    font-size: 12px !important;
}

.reporting-tab .header .reporting_right_side {
    margin: 0 !important;
}

/*progamatic*/

.headerShow {
    display: flex !important;
}

.headerHide {
    display: none !important;
}

/*tools*/

.information_label_content {
    background-color: white !important;
}



.greenGlow {
    background: rgba(24, 248, 73, 0.692) !important;
    border-radius: 50%;
    padding: 1px;
    box-shadow: 0 0 0 2px rgb(22, 250, 144);
}

.redGlow {
    background: rgba(228, 16, 1, 0.884) !important;
    border-radius: 50%;
    padding: 1px;
    box-shadow: 0 0 0 0 rgb(224, 62, 40);
    animation: redPulse 1s linear infinite;
}

@keyframes redPulse {
    from {
        box-shadow: 0 0 0 0 rgba(255, 66, 34, 1);
    }

    to {
        box-shadow: 0 0 0 10px rgba(130, 34, 255, 0);
    }
}

.yellowGlow {
    background: rgba(248, 232, 3, 0.65) !important;
    border-radius: 50%;
    padding: 1px;
    box-shadow: 0 0 0 0 rgba(255, 235, 59, 1);
    animation: yellowPulse 1s linear infinite;
}

@keyframes yellowPulse {
    from {
        box-shadow: 0 0 0 0 rgba(255, 235, 59, 1);
    }

    to {
        box-shadow: 0 0 0 10px rgba(255, 235, 59, 0.0);
    }
}

.yellowGlow img:not([title]) {
    display: none;
}

.gwt-TestFocused {
    border: none !important;
}

.gwt-TestFocused::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1px;
    left: -1px;
    display: block;
    border-radius: 50%;
    transform: scale(1.2);
    border: 2px dotted rgb(59, 59, 59);
    animation: selectionrotate 1s steps(10, end) infinite reverse;
}

@keyframes selectionrotate {
    from {
        transform: scale(1.2) rotate(0deg);
    }

    to {
        transform: scale(1.2) rotate(360deg);
    }
}

.disconnected::after {
    content: '';
    position: absolute;
    top: calc(-20% + 1px);
    left: calc(-20% + 1px);
    width: calc(130% - 1px);
    height: calc(130% - 1px);
    border-radius: 10%;
    box-shadow: 0 0 0 0 rgb(255, 51, 0);
}

.bph-endpoint-flash.disconnected::after {
    animation: redPulse 1s linear infinite;
}

.testModeBack .bph-endpoint-flash-testonly.disconnected::after {
    animation: redPulse 1s linear infinite;
}

.hover-menu-hidden-hotspot.left-arrow::after {
    transform: rotate(90deg);
    top: 50%;
    left: 0;
    margin-top: -10px;
    margin-left: -5px;
    z-index: -1;
}

.gwt-EndPoint .BoomiPlatformEndpointMenu {
    display: none;
}

.gwt-EndPoint.disconnected:hover .BoomiPlatformEndpointMenu {
    display: block;
}

.BoomiPlatformEndpointMenu .gwt-ClickableLabel {
    background: #808080;
}

.BoomiPlatformEndpointMenu .gwt-ClickableLabel:hover {
    background: #d6d4d4 !important
}

.mastfoot .footer_msg {
    float: left;
}

.BoomiPlatform_showconnections {
    color: red;
    font-weight: bold;
}

.connectionsspanlink {
    color: red;
    cursor: pointer
}

.connectionsspanlink:hover {
    text-decoration: underline;
}

.gwt-connectors-line {
    transition: background 200ms ease;
}

.BoomiPlatform-lineparent {
    z-index: 1 !important;
}

.BoomiPlatform-linetrace {
    stroke: #aaaaaa !important;
    opacity: 0.4;
}

.BoomiPlatform-linetrace-active-solid {
    stroke: #007db8;
    opacity: 1 !important;
}

.BoomiPlatform-linetrace-active-pulse {
    animation: tracepulse 0.3s ease infinite alternate;
    opacity: 1 !important;
}

@keyframes tracepulse {
    from {
        stroke: #007db8;
    }
    to {
        stroke: #00adff;
    }
}

.BoomiPlatform-linetrace-active-dash {
    stroke: #00adff !important;
    stroke-dasharray: 20, 10;
    animation: tracedash 7s linear infinite reverse;
    stroke-linecap: round;
    opacity: 1 !important;
}

@keyframes tracedash {
    to {
        stroke-dashoffset: 250;
    }
}

/*span.ignoreBreaks {
    white-space: pre-line;
}*/

.bph-wrap span.ignoreBreaks {
    white-space: pre-line;
    /*white-space: unset !important;*/
}

.shape_palette_widget .gwt-Image[title]:not([title="Note"]) {
    width: 24px !important;
    height: 24px !important;
}

.bph-thead-menu {
    display: none;
    width: 100vw;
    background: #f6f6f6;
    color: #333;
    font-size: 13px;
    font-weight: 600;
    padding: 6px 8px;
    border-bottom: solid 1px #dadada;
    user-select: none;
}

.bph-shape-handler:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    border-radius: 3px;
}

.component_header .description_panel>p {
    overflow: auto !important;
    resize: vertical !important;
    max-height: unset !important;
}

.component_header .description_panel textarea {
    resize: vertical !important;
}


.canvasNew {

    background-image: none !important
}


.component_header .name_label>.gwt-Label {
    max-width: 950px !important;
    width: fit-content !important;
}



.refresh_primary_action {
    background-color: #ad612e !important;
    border-color: #ad612e !important;
    color: #fff !important;
}

.refresh_primary_action:hover {
    background-color: #915025 !important;
    border-color: #915025 !important;
    color: #fff !important;
}

.refresh_doing_action {
    background-color: #2ac07a !important;
    border-color: #2ac07a !important;
    color: #2e2c2c !important;
}

.refresh_doing_action:hover {
    background-color: #107755 !important;
    border-color: #107755 !important;
    color: #2e2c2c !important;
}

.closeall_doing_action {
    background-color: #2ac07a !important;
    border-color: #2ac07a !important;
    color: #2e2c2c !important;
}

.closeall_doing_action:hover {
    background-color: #107755 !important;
    border-color: #107755 !important;
    color: #2e2c2c !important;
}


.gwt-ParamPopup {
    overflow: auto !important;
    resize: horizontal !important;

}


div[style*="position: relative; height: 250px; width: 250px;"] {

    min-width: 350px !important;
    min-height: 350px !important;
    height: auto !important;
    width: auto !important;
}

.boomiDown {
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}


.boomimenuOpen {

    display: inline-block !important
}



.boomiConnect {

    width: 450px !important
}

.openimage {
    display: inline-block;
    width: 26px;
    height: 26px;
    overflow: visible;
    padding-right: 7px;
    padding-top: 3px;

}

.connectorText {
    width: auto !important
}

.connectorVal {
    width: 375px !important
}

.flex_panel_sql {
    max-width: 100% !important;
    min-height: 600px !important;
    resize: both !important;
    overflow: auto !important;

}


.gwt-TextBox[maxlength='255']{
    min-width: 900px !important;
    width:1200px !important;
}


.boomiHTTPReminder{
    animation: reminderHTTPanimate 1.5s linear infinite;
}

@keyframes reminderHTTPanimate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (min-width: 700px){

.testRunDialog input[type='text']{
    width: 500px !important;
}

}

.qm-button--primary-savetest{
    background-color: #b67600!important;
    border-color: #b67600!important;
    color: #fff!important;

}


.new_shape_chooser_popup .category_row_hover_style:hover, .new_shape_chooser_popup .category_row_hover_style:focus {
    height: 38px!important;

}


#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}


#close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}

.rail.simplify .gwt-FastTreeItem .treeItemContent, .rail.simplify .gwt-FastTreeItem .children .treeItemContent, .rail.simplify .gwt-FastTreeItem.gwt-FastTreeItem-leaf {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}